body {
  background-color: pink;
  margin: 10 auto;
}

p	{
	color: purple;
	font-family: 'Oswald';
	font-size: 25px;
}

ul {
	margin: 30px auto;
	padding 0 35px;
	text-align: center;
}

li {
	color: blue;
	font-family: Helvitica}
}

header {
  background-color: pink;
  border-bottom: 50px solid black;
  position: fixed;
  width: 100%;
}

h1 {
	color: white; 
	font-size: 45px;
	font-family: Arial;
	font-weight: 250;
}

h2 {
	color: white; 
	font-size: 45px;
	font-family: Arial;
	font-weight: 250;
}

h3 {
	color: white; 
	font-size: 45px;
	font-family: Arial;
	font-weight: 250;
}

img {
      width:650px;
      padding:5px;
      border:12px #1c87c9;
      border-style: dashed;
      background-color: yellow;
}

#Intro {
	border-bottom: 200 white;
	background-color: lightblue;
}

.wrapper {
background-color: blue;
}



